.container {
  @apply h-full w-full bg-background-darkest flex flex-col px-6 py-4;
  .header {
    @apply flex gap-x-5 text-white uppercase mb-1 items-center;
  }
  .main {
    @apply flex-1;
  }
  .groups {
    @apply flex gap-x-4;
    & button {
      @apply text-primary-paler rounded-xl;
      background: #fff;
      width: 56px;
      height: 24px;
      &.active {
        @apply bg-primary-paler text-white;
      }
    }
  }
}
