.container {
  @apply grid grid-cols-1 md:flex items-center md:h-[312px];
  .summary {
    @apply h-full w-full md:w-2/5 relative;
    img {
      @apply h-full object-cover w-full;
    }
    .chart {
      @apply absolute h-full w-full top-0 left-0;
    }
  }
  .chart {
    @apply h-full w-full md:w-3/5;
    .chart__text__box {
      @apply relative;
      .chart__text__main {
        @apply absolute text-white flex gap-2 items-center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        & > span {
          text-shadow: 0px 0px 6px #fc7400;
        }
      }
    }
  }
}
